body
{
	background-color: grey;
}
#logo
{
	border: 1px solid blue;
	background-color: blue;
	width: 50%;
	margin-top:10px;

}

section,footer
{
	border: 1px solid green;
	background-color: green;
	font-size: 1.3em;
	display: flex;
	text-align: left;
	margin: 0px 0px 0px 700px;
	width: 50%;
	padding-left: 20px;

}
footer input
{
	border: 1px solid red;
	background-color: green;
}
h1+div
{
	margin: 0px 0px 0px 700px;
	width: 50%;
	border: 1px solid green;
	background-color: green;
	width: 50%;
	padding: 20px;
	}	
h2+label
{
	text-align: center;
	margin: 0px 0px 0px 700px;
}
h2
{
	margin: 0px 0px 0px 700px;
	text-align: center;
}
nav div
{
background-color: lime;
width: 50%;
text-align: center;
margin: 20px 10px 20px 0px;
padding: 0px 0px 1px 0px;

}
